* {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "RobotoMono-Bold";
  src: url(fonts/RobotoMono-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(fonts/RobotoMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
  color: white;
  font-family: "RobotoMono-Regular";
  background:black url(img/bacground.jpg) center 0px no-repeat;
}
.container {
  max-width: 1199px;
  overflow: hidden;
  margin: auto;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}
.header__title {
  font-size: 5em;
  font-family: "RobotoMono-Bold";
  padding-top: 100px;
  margin-bottom: 20px;
}
.header__major {
  font-size: 3em;
  margin-bottom: 50px;
}
.nav-menu {
  position: fixed;
  top: 0;
}
.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 1199px;
  padding: 0;
  border: solid white 0.5px;
  margin-bottom: 10px;
  background-color: rgba(70, 200, 120, 0.60);
  box-shadow: 0px 3px 7px 3px rgba(255, 255, 255, 0.22);
}
.nav-menu__item {
  list-style: none;
  font-size: 1.5em;
}
.main__header {
  color: rgb(70, 200, 120);
  font-size: 3em;
  font-family: "RobotoMono-Bold";
  margin-bottom: 20px;
}
.main__header span {
  color: yellow;
}
.close-bracket {
  color: yellow;
  font-size: 3em;
  font-family: "RobotoMono-Bold";
}
.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.contacts__photo {
  display: flex;
  width: 280px;
  height: 420px;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 200, 120, 0.60);
  border-radius: 10%;
  box-shadow: 0px 3px 7px 3px rgba(255, 255, 255, 0.22);
}
.contacts__img {
  width: 260px;
  height: 400px;
  border-radius: 10%;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.22);
}
.text {
  font-size: 2em;
}
.main__text {
  padding-left: 80px;
  margin-right: 150px;
}
.blue {
  color: rgb(180, 215, 240);
}
.about-me {
  margin-bottom: 50px;
}
.about-me__text {
  padding-left: 80px;
  max-width: 1100px;
}
.skills {
  margin-bottom: 50px;
}
.skills__box {
  display: flex;
  padding-left: 80px;
  align-items: center;
}
.skills__name {
  margin-right: 100px;
  min-width: 200px;
}
.work {
  margin-bottom: 50px;
}
.experience {
  display: flex;
}
.experience__color {
  height: 30px;
  width: 60px;
  margin-right: 30px;
  background-color:rgb(180, 215, 240);
  border-radius: 10%;
  box-shadow: 0px 3px 7px 3px rgba(255, 255, 255, 0.22);
}
.experience__color:last-child {
  margin-right: 0;
}
.green-span {
  color: rgb(70, 200, 120);
}
.green {
  background-color: rgb(70, 200, 120);
}
.code {
  margin-bottom: 50px;
}
.code__example {
  padding-left: 80px;
}
.brown {
  color: brown;
}
.projects {
  margin-bottom: 50px;
}
.projects__cv {
  position: relative;
  text-decoration: none;
  padding-left: 80px;
}
.projects__cv img{
  width: 400px;
  opacity: 0.5;
  box-shadow: 0px 3px 7px 3px rgba(255, 255, 255, 0.22);
}
.projects__cv img:hover {
  opacity: 1;
}
.education__text {
  padding-left: 80px;
}
.work__box {
  display: flex;
  padding-left: 80px;
  align-items: center;
}
.work__name {
  margin-right: 100px;
  min-width: 200px;
}
.education {
  margin-bottom: 50px;
}
.courses__table {
  padding-left: 80px;
  margin-bottom: 50px;
}
.sololearn {
  display: flex;
}
.sololearn__img {
  margin-right: 50px;
  width: 220px;
  opacity: 0.5;
}
.sololearn__img:hover {
  opacity: 1;
  width: 420px;
}
.languages {
  margin-bottom: 50px;
}
.languages__box {
  display: flex;
  padding-left: 80px;
  align-items: center;
}
.languages__name {
  margin-right: 100px;
  min-width: 200px;
}